@mixin for-phone-only {
  @media (min-width: 320px) and (max-width: 767px) {
    @content;
  }
}
@mixin for-tablet-only {
  @media (min-width: 768px) and (max-width: 1199px) {
    @content;
  }
}
@mixin for-minilaptop-and-up {
  @media (min-width: 1200px) and (max-width: 5000px) {
    @content;
  }
}

$text-primary: #7fdd85;
$text-info: #3dc2ff;
$text-warning: #fad35f;
$text-danger: #f25767;
$text-darkgray: #8c9195;
$text-pink: #ef9fc4;
$text-lightgray: #f3f3f3;

$bg-primary: #7fdd85;
$bg-white: #fff;
$bg-info: #3dc2ff;
$bg-warning: #fad35f;
$bg-danger: #f25767;
$bg-darkgray: #8c9195;
$bg-pink: #ef9fc4;
$bg-lightgray: #f3f3f3;

.modalbox {
  width: 500px;
  height: auto;
  overflow: auto;
  overflow-x: hidden;
  // font-family: 'Inter';
  @include for-phone-only() {
    width: 280px;
  }
}
.modalbox::-webkit-scrollbar {
  width: 5px;
  border-radius: 25px;
}
.modalbox::-webkit-scrollbar-thumb {
  background: #bfc0c2;
  border-radius: 3px;
}

.modalheader {
  font-size: 18px;
  font-weight: 500;
}
.clearicon {
  font-size: 25px !important;
  left: 22px;
  bottom: 7px;
  color: #000 !important;
  @include for-phone-only() {
    left: 10px;
  }
}
// .modalbody {
//   padding: 15px 24px !important;
// }
.hedaing {
  margin-top: -15px;
  font-size: 20px !important;
}
.msgbody {
  font-size: 1rem;
  text-align: center;
  color: #424242;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-weight: 600;
  line-height: 1.5;
}
.bottomText {
  font-size: 0.875rem;
  color: #8f8f8f;
  margin-top: 1rem;
}
.is-btn {
  font-weight: 500 !important;
}
.is-yes {
  background-color: #1d5686;
  color: white;
}
.is-no {
  background-color: $bg-danger;
  color: white;
}
.deleteText {
  color: #000 !important;
}
.header {
  color: #000 !important;
  font-size: 20px;
  padding: 10px;
}
span.is-profile {
  width: 95px;
  height: 95px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
  border: 2px solid #1d5686;
  margin-top: -19px !important;
  @include for-phone-only {
    width: 65px;
    height: 65px;
  }
}
._uploadBtn {
  opacity: 0;
  position: absolute;
}
._image {
  width: 95px;
  height: 95px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
  border: 2px solid #1d5686;
  margin-top: -19px !important;
}
._Upload {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  position: relative;
  top: -2rem;
  left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-phone-only {
    width: 30px;
    height: 30px;
  }
}

._uploadIcon {
  opacity: 0.7;
}

._uploadIcon:hover {
  opacity: 1;
}

mat-form-field {
  width: 100%;
}

._contactForm {
  margin-top: -25px;
}
.inputfileds{
  margin-top: -13px;
}
.inputfield{
  color: #000 !important;
}