@import '~@taiga-ui/core/styles/taiga-ui-local';

@mixin for-phone-only {
    @media (min-width: 320px) and (max-width: 767px) {
      @content;
    }
  }
  @mixin for-tablet-only {
    @media (min-width: 768px) and (max-width: 1199px) {
      @content;
    }
  }
  @mixin for-minilaptop-and-up {
    @media (min-width: 1200px) and (max-width: 5000px) {
      @content;
    }
  }
  
  $text-primary: #7fdd85;
  $text-info: #3dc2ff;
  $text-warning: #fad35f;
  $text-danger: #f25767;
  $text-darkgray: #8c9195;
  $text-pink: #ef9fc4;
  $text-lightgray: #f3f3f3;
  
  $bg-primary: #7fdd85;
  $bg-white: #fff;
  $bg-info: #3dc2ff;
  $bg-warning: #fad35f;
  $bg-danger: #f25767;
  $bg-darkgray: #8c9195;
  $bg-pink: #ef9fc4;
  $bg-lightgray: #f3f3f3;
.content {
    width: 80vw;
    height: 80vh;
}




.popup-body{
    height: 550px !important;
    width: 550px;
    background-color:#000 !important;
    padding: 10px !important;
    @include for-phone-only(){
        height: 100% !important;
        width: 100%;
    }
    @include for-tablet-only(){
        background-color: #000 !important;
        height: 100% !important;
        width: 100%;
    }
}
.videoplayer{
    @include for-phone-only(){
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    @include for-tablet-only(){
        width: 100%;
        height: 100%;
    }
}
.modalbox {
    width: 800px;
    height: 500px;
    overflow:hidden;
    // font-family: 'Inter';
}
.modalheader{
    font-size: 18px;
    background-color:#000 !important;
    .clearicon{
        right: 10px;
        ion-icon{
            height: 25px;
            width: 25px;
            color: #ffffff;
            margin: 5px 5px;
            border-radius: 50%;
            background: $bg-danger;
            font-weight: 600;
        }
        @include for-phone-only(){
            height: 20px;
            width: 20px;
        }
    }
    .heading{
        font-weight: 500;
    }
}





// @mixin for-phone-only {
//     @media (min-width: 320px) and (max-width: 767px) { @content; }
// }
// @mixin for-tablet-only {
//     @media (min-width: 768px) and (max-width: 1199px) { @content; }
// }
// @mixin for-minilaptop-and-up {
//     @media (min-width: 1200px) and (max-width: 5000px) { @content; }
// }

// $text-primary: #7fdd85;
// $text-info: #3dc2ff;
// $text-warning: #fad35f;
// $text-danger: #f25767;
// $text-darkgray: #8c9195;
// $text-pink: #ef9fc4;
// $text-lightgray: #f3f3f3;

// $bg-primary: #7fdd85;
// $bg-white: #fff;
// $bg-info: #3dc2ff;
// $bg-warning: #fad35f;
// $bg-danger: #f25767;
// $bg-darkgray: #8c9195;
// $bg-pink: #ef9fc4;
// $bg-lightgray: #f3f3f3;


// .popup-body{
//     height: 550px !important;
//     width: 550px;
//     background-color:#000 !important;
//     padding: 10px !important;
//     @include for-phone-only(){
//         height: 100% !important;
//         width: 100%;
//     }
//     @include for-tablet-only(){
//         background-color: #000 !important;
//         height: 100% !important;
//         width: 100%;
//     }
// }
// .videoplayer{
//     @include for-phone-only(){
//         width: 100%;
//         height: 100%;
//     }
//     @include for-tablet-only(){
//         width: 100%;
//         height: 100%;
//     }
// }
// .modalbox {
//     width: 800px;
//     height: 500px;
//     overflow:hidden;
//     // font-family: 'Inter';
// }
// .modalheader{
//     font-size: 18px;
//     background-color:#000 !important;
//     .clearicon{
//         right: 10px;
//         ion-icon{
//             height: 25px;
//             width: 25px;
//             color: #ffffff;
//             margin: 5px 5px;
//             border-radius: 50%;
//             background: $bg-danger;
//             font-weight: 600;
//         }
//     }
//     .heading{
//         font-weight: 500;
//     }
// }

// ::ng-deep{
//     .popover-wrapper.sc-ion-popover-md {
//         @include for-tablet-only(){
//             margin-top: 1rem !important;
//         }
//     }
// }

