<div>
  <ion-row>
    <ion-col size="10">
      <img class="logo" src="assets/images/logocmp.png" alt= "{{productName}}">
    </ion-col>
    <ion-col size="2" class="ion-text-end signinbtn">
        <button mat-raised-button (click)="signup()" color="primary">Create Account</button>
    </ion-col>
  </ion-row>
  <div class="text-center">
    <!-- <img class="notfound" src="assets/images/notfound.svg"> -->
    <img class="notfound1" src="assets/images/linkexpired.svg" alt= "{{productName}}">
    <div>
      <p class="text">Link Expired</p>
      <!-- <button mat-raised-button (click)="login()" color="primary">Sign In</button> -->
    </div>
  </div>
</div>
