@mixin for-phone-only {
  @media (min-width: 320px) and (max-width: 767px) {
    @content;
  }
}
@mixin for-tablet-only {
  @media (min-width: 768px) and (max-width: 1199px) {
    @content;
  }
}
@mixin for-minilaptop-and-up {
  @media (min-width: 1200px) and (max-width: 5000px) {
    @content;
  }
}

$text-primary: #7fdd85;
$text-info: #3dc2ff;
$text-warning: #fad35f;
$text-danger: #f25767;
$text-darkgray: #8c9195;
$text-pink: #ef9fc4;
$text-lightgray: #f3f3f3;

$bg-primary: #7fdd85;
$bg-white: #fff;
$bg-info: #3dc2ff;
$bg-warning: #fad35f;
$bg-danger: #f25767;
$bg-darkgray: #8c9195;
$bg-pink: #ef9fc4;
$bg-lightgray: #f3f3f3;

.modalbox {
  width: 400px;
  height: 150px;
  overflow: hidden;
  // font-family: 'Inter';
  @include for-phone-only() {
    width: 300px !important;
  }
}
.modalheader {
  font-size: 18px;
  font-weight: 500;
  .clearicon {
    ion-icon {
      height: 28px;
      width: 28px;
      color: #636161;
      margin: 10px 10px;
    }
  }
}
.modalbody {
  padding: 15px 24px !important;
}
.logout {
  color: #000 !important;
}
.msgbody {
  font-size: 1rem;
  text-align: center;
  color: #424242;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-weight: 600;
  line-height: 1.5;
}
.bottomText {
  font-size: 0.875rem;
  color: #8f8f8f;
  margin-top: 1rem;
}
.is-btn {
  font-weight: 500 !important;
}
.is-yes {
  background-color: $bg-primary;
  color: white;
}
.is-no {
  background-color: $bg-danger;
  color: white;
}
