<div class="modalbox">
  <div class="modalbody">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <p class="deleteText">Are you sure you want to remove {{userName}} ?</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <button mat-raised-button class="bg-blue mx-1" style="color: white;" (click)="remove()">Yes</button>
        <button mat-raised-button class="mx-1" (click)="closepopup()">No</button>
      </ion-col>
    </ion-row>
  </div>
</div>
