<div class="modalbox">

  <div class="modalheader">
    Disable link?
  </div>

  <div class="modalbody">

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <p class="logout">Disabling this link cannot be undone. Are you sure you want to disable this link?</p>
        <!-- <p class="logout">This link's disabling cannot be reversed. Are you certain that you want to turn off this link?</p> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <button mat-raised-button class="bg-blue text-white mx-1" (click)="deleteLink()">Yes</button>
        <button mat-raised-button class="mx-1 warm" (click)="closepopup()">No</button>
      </ion-col>
    </ion-row>

  </div>

</div>