@mixin for-phone-only {
    @media (min-width: 320px) and (max-width: 767px) { @content; }
  }
  @mixin for-tablet-only {
    @media (min-width: 768px) and (max-width: 1199px) { @content; }
  }
  @mixin for-minilaptop-and-up {
    @media (min-width: 1200px) and (max-width: 5000px) { @content; }
  }
  
  $text-primary: #7fdd85;
  $text-info: #3dc2ff;
  $text-warning: #fad35f;
  $text-danger: #f25767;
  $text-darkgray: #8c9195;
  $text-pink: #ef9fc4;
  $text-lightgray: #f3f3f3;
  
  $bg-primary: #7fdd85;
  $bg-info: #3dc2ff;
  $bg-warning: #fad35f;
  $bg-danger: #f25767;
  $bg-darkgray: #8c9195;
  $bg-pink: #ef9fc4;
  $bg-lightgray: #f3f3f3;
  
  
  // .is-mainSide{
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   height: 100%;
  //   // overflow: overlay;        
  //   background-image: url('./../../../../assets/images/reset password.svg');
  //   background-size: 65% 70%;
  //   background-repeat: no-repeat;
  //   background-origin: content-box;
  //   background-attachment: fixed;
  //   box-shadow: 0 16px 40px 0 rgb(0 0 0 / 6%) !important;
  //   position: relative;
  //   background-position: left;
  //   background-color: #fff !important;
  //   @include for-phone-only(){
  //     background-image: none;
  //     overflow: auto;
  //   }
  //   @include for-tablet-only(){
  //     background-size: 55% 70%;
  //     overflow: auto;
  //   }
  // }
  .is-mainSide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    // overflow: overlay;        
    background-image: url('./../../../../assets/images/setpassword.svg');
    background-size: 65% 65%;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: fixed;
    box-shadow: 0 16px 40px 0 rgb(0 0 0 / 6%) !important;
    position: relative;
    background-position: left;
    background-color: #fff !important;
    @include for-phone-only(){
        background-image: none;
        overflow: auto;
    }
    @include for-tablet-only(){
        background-size: 55% 70%;
        overflow: auto;
    }
  }
  .is-mainBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    // background: #1D56865c;
  }
  .is-topRightSide{
    position: absolute;
    top: -115px;
    left: -125px;
    .is-topBlob{
        width: 300px;
        height: 300px;
        @include for-tablet-only(){
            display: none;
        }
        @include for-phone-only(){
            display: none;
        }
    }
  }
  .is-topLogo{
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .is-bottomSide{
    position: absolute;
    bottom: -90px;
    left: 0px;
    height: 280px;
    @include for-tablet-only(){
        display: none;
    }
    @include for-phone-only(){
        display: none;
    }
  }
  .is-loginContainer{
    position: absolute;
    right: 5%;
    width: 460px !important;
    border: 1px solid #eee;
    border-radius: 25px;
    padding: 40px 40px !important;
    top: 12%;
    box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 10%) !important;
    z-index: 9999;
    @include for-tablet-only(){
        width: 320px !important;
    }
    @include for-phone-only(){
        position: static;
        right: 0%;
        width: 310px !important;
        border: 1px solid #eee;
        // border-radius: 10px;
        padding: 15px 0px !important;
        top: -19%;
        // box-shadow: none !important;
        height: 300px;
        overflow: auto;
        overflow-x: hidden;
        margin-top: 2rem;
    }
  }
  
  
  .login-title{
    font-size: 2rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #1D5686;
    text-align: left;    
    @include for-phone-only(){
      padding-left: 1rem;
      font-size: 1.5rem;
    }
  }
  mat-form-field{
    width: 100%;
    margin-left: 0px;
    font-size: 0.875rem;    
  }
  .is-blue{
    color: #1D5686 !important;
  }
  button.is-loginBtn{
    background-color: #1D5686;
    color: #fff;
    height: 44px;
    width: 90px;
    font-family: 'Poppins' !important;
    font-size: 15px;
    margin-top: 15px;
    &:hover{
        background-color: #1D5686;
        transition: 0.2s ease-in;
    }
  }
  .forgot-password{    
    font-size: 0.875rem;
    color: #1D5686;
    cursor: pointer;
    width: 100%;
    text-align: right;
    display: block;
    font-weight: 600;
  }
  .footer_text{
    font-size: 1rem;
    margin-top: 15px;
    text-align: center;
    color: #535f6b;
    font-family: 'Poppins' !important;    
  }
  .is-signUpText{
    color: #1D5686;
    cursor: pointer;    
    font-family: 'Poppins' !important;
  }
  ._version{
    color: #1D5686;
    position: relative;
    bottom: -32px;
    font-size: 14px;
    text-align: right;
    @include for-phone-only(){
      bottom: -15px;
    }
  }
  ::ng-deep{
    .is-loginContainer{
      .is-signIn.mat-form-field{
          width: 100%;
          font-family: 'Poppins' !important;
      }
      .is-signIn.mat-form-field-appearance-outline.is-signIn .mat-form-field-wrapper{
        padding-bottom: 1.25em !important;
        @include for-phone-only(){
            padding: 5px 1.25em !important;
        }
    }
    .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
        padding: 0px 0em !important;
        @include for-phone-only(){
            padding: 10px 0em !important;
        }    
    }
      .is-signIn.mat-form-field-appearance-outline .mat-form-field-outline-thick{
          color: #7c7c7c !important;
          background: #fff !important;
      }
      .is-signIn.mat-form-field-appearance-outline .mat-form-field-outline-gap{
        border: 0px solid currentColor !important;
      }
      .is-signIn.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap{
          border-width: 0px !important;
      }
      .is-signIn.mat-form-field-appearance-outline .mat-form-field-outline{
          border-bottom: 1px solid #1D5686 !important;
      }
      .is-signIn.mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-end{
          border: 0px solid currentColor !important;
      }
      .is-signIn.mat-form-field-appearance-outline .mat-form-field-flex{
          padding: 0em 0 0em !important;
      }
    }
    mat-password-strength .mat-progress-bar-fill::after {
      background-color: #4caf50;
    }   
  }
  
  
  
  
  
  
  
  
  .is-signInText{
    color: #1D5686;
    cursor: pointer;
  }
  
  .is-agreeError{
    color: red;
    font-size: 12px;
    margin-left: 0.6rem;
  }
  
  
  
  .is-signInBtn{
    background-color: #27272a !important;
    text-transform: capitalize;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  .forgot-password{    
    font-size: 0.875rem;
    color: #1D5686;
    cursor: pointer;
    width: 100%;
    text-align: right;
    display: block;
  }
  .footer_text{
    font-size: 1rem;
    margin-bottom: 0px;
    text-align: center;
    color: #535f6b;    
  }
  .is-signInText{
    color: #1D5686;
    cursor: pointer;
  }
  .label-style{
    display: flex;
    align-items: center;
    font-size: 10px;
  }
  .is-d-none{
    display: none;
  }
  .is-agreeError{
    color: red;
    font-size: 12px;
    margin-left: 0.6rem;
  }
  ::ng-deep{
    mat-Input{
        color: black !important;
    }
    .inputfield{
        color: black !important;
        @include for-phone-only(){
          color: black !important;
      }
    }
  }