<ion-grid class="is-fullwidth is-mainSide p-0">
  <ion-row justify-content-center class="p-0">
    <ion-col size="12" class="is-topRightSide p-0">
      <img src="assets/images/blob.svg" class="is-topBlob" alt="{{ productName }}"/>
    </ion-col>

    <ion-col size="12" class="is-d-flex is-justify-content-end px-3 py-3 is-topLogo">
      <img src="assets/images/logocmp.png" style="width: 200px;" alt="{{ productName }}"/>
    </ion-col>

    <ion-col size="12" class="is-loginContainer animated fadeIn">
      <h1 class="text-center login-title">Set Password</h1>
      <form [formGroup]="changeForm" autocomplete="off" (ngSubmit)="submit()">

        <mat-form-field appearance="outline" class="is-signIn">
          <mat-label>New Password</mat-label>
          <input class="inputfield" #password matInput [type]="hide ? 'password' : 'text'" placeholder="Enter new password"
            formControlName="newPassword">
          <span class="password-icon" mat-icon-button matSuffix (click)="hide = !hide"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon class="pt-1 is-blue">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
          <mat-error *ngIf="changeForm.controls['newPassword'].invalid">
            <span *ngIf="changeFormControls.newPassword.errors.required">New Password is required</span>
          </mat-error>
        </mat-form-field>
        <div class="errorDiv" *ngIf="changeFormControls.newPassword.touched">
          <label class="label-style"
            [ngClass]="changeFormControls.newPassword.hasError('pattern')  ? 'text-danger' : 'is-d-none'">
            The minimum password length is 8 characters and must contain atleast 1 lowercase letter,
                1 capital letter, 1 number and 1 special character.
          </label>
        </div>

        <!-- <mat-password-strength [password]="password.value"></mat-password-strength> -->

        <mat-form-field appearance="outline" class="is-signIn mt-3">
          <mat-label>Confirm Password</mat-label>
          <input class="inputfield" matInput [type]="hide1 ? 'password' : 'text'" placeholder="Confirm your password"
            (keyup.enter)="submit()" formControlName="confirmPassword">
          <span class="password-icon" mat-icon-button matSuffix (click)="hide1 = !hide1"
            [attr.aria-label]="'Hide1 password'" [attr.aria-pressed]="hide1">
            <mat-icon class="pt-1 is-blue">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
          <mat-error *ngIf="changeForm.get('confirmPassword').hasError('required')">
            Confirm Password is Required!
          </mat-error>
          <mat-error *ngIf="changeForm.get('confirmPassword').hasError('mustMatch')">
            Passwords must match!
          </mat-error>
        </mat-form-field>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <button type="submit" id="update" class="is-loginBtn">Create Password</button>
          </ion-col>
        </ion-row>

      </form>
    </ion-col>

    <ion-col size="12" class="is-bottomSide p-0 animated fadeInUp">
      <img src="assets/images/wave.svg" class="is-mainBanner1" alt="{{ productName }}"/>
    </ion-col>

  </ion-row>

</ion-grid>