<div class="modalbox">
  <div class="modalbody">
    <ion-row>
      <img class="img-center" src="assets/images/icons/server-maintenance-icon.gif" style="width: 100px;height: 100px;" alt="{{ productName }}"/>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h1>We will be back soon!</h1>
    <div class="message">
        <p>Sorry for the inconvenience. We are performing some maintenance at the moment.</p>
        <p>&mdash; Team Indryve</p>
    </div>
      </ion-col>
    </ion-row>
  </div>
</div>
