@mixin for-phone-only {
  @media (min-width: 320px) and (max-width: 767px) {
    @content;
  }
}
@mixin for-tablet-only {
  @media (min-width: 768px) and (max-width: 1199px) {
    @content;
  }
}
@mixin for-minilaptop-and-up {
  @media (min-width: 1200px) and (max-width: 5000px) {
    @content;
  }
}
@supports (-moz-appearance:none)  {
  mat-paginator{
    width: 125% !important;
  }
}

$text-primary: #7fdd85;
$text-info: #3dc2ff;
$text-warning: #fad35f;
$text-danger: #f25767;
$text-darkgray: #8c9195;
$text-pink: #ef9fc4;
$text-lightgray: #f3f3f3;

$bg-primary: #7fdd85;
$bg-white: #fff;
$bg-info: #3dc2ff;
$bg-warning: #fad35f;
$bg-danger: #f25767;
$bg-darkgray: #8c9195;
$bg-pink: #ef9fc4;
$bg-lightgray: #f3f3f3;

.modalbox {
  width: 900px;
  height: 150vh;
  overflow: auto;
  overflow-x: hidden;
  max-height: 500px;
  // font-family: 'Inter';
  @include for-phone-only() {
    width: 300px !important;
    height: 500px !important;
  }
}
.modalheader {
  font-size: 23px;
  font-weight: 500;
  padding-top: 15px;
  @include for-phone-only() {
    height: 9% !important;
    display: flex !important;
    justify-content: center;
    align-items: center !important;
    padding-top: 6% !important;
    padding-bottom: 2% !important;
  }
  .clearicon {
    ion-icon {
      height: 28px;
      width: 28px;
      color: #636161;
      margin: 10px 10px;
    }
  }
}
.modalbody::-webkit-scrollbar {
  width: 5px;
  border-radius: 25px;
}
.modalbody::-webkit-scrollbar-thumb {
  background: #bfc0c2;
  border-radius: 3px;
}
// .modalbody{
//     padding: 15px 24px !important;
// }
.modalbody {
  // overflow: auto;
  height: 370px !important;
  @include for-phone-only() {
    max-height: 100% !important;
    padding: 10px 0px 10px 0px !important;
    overflow: auto;
  }
}
.buttons {
  right: 13px;
  bottom: -3px;
}
.is-fileList {
  margin-bottom: -18px;
  padding: 4px 10px;
  cursor: pointer;
  border-bottom: 2px solid #dcdddf;
  &:hover {
    background-color: #fafbfe !important;
  }
  .is-docImage {
    width: 44px;
    height: 44px;
    // background: #f2f5f5;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10px;
    @include for-phone-only() {
      width: 40px;
      height: 40px;
    }
    img {
      border-radius: 15%;
    }
  }
  .is-leftSide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3px;
    .is-selectFile {
      position: absolute;
      left: -2px;
      top: -2px;
      mat-icon {
        font-size: 20px;
      }
    }
  }
  .is-dateTime {
    justify-content: center;
    @include for-phone-only() {
      display: none;
    }
  }
  .is-fileName {
    color: #535f6b;
    font-size: 1rem;
    margin-bottom: 0px;
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @-moz-document url-prefix() {
      line-height: 20px !important;
    }
  }
  .is-label {
    font-size: 0.75rem;
    font-weight: 500;
    @include for-phone-only() {
      font-size: 0.65rem;
    }
  }
  .is-fileSize {
    font-size: 0.75rem;
    // color: #7fdd85;
    // font-weight: 600;
    @include for-phone-only() {
      font-size: 0.65rem;
    }
  }
  .is-createdAt {
    color: #4f4f4f;
    font-size: 0.8rem;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1;
    height: 44px;
    mat-icon {
      font-size: 20px;
      display: flex;
      justify-self: center;
      align-items: center;
    }
  }
  .is-rightSide {
    position: relative;
    .is-favroiteIcon {
      position: absolute;
      top: -5px;
      right: -5px;
      mat-icon {
        font-size: 20px;
      }
    }
  }
}
.is-trashIcon {
  width: 100%;
  height: 220px;
  font-size: 241px;
  color: #d2e3fc;
  font-weight: 100;
  @include for-phone-only() {
    width: 100%;
    height: 75px;
    font-size: 75px;
    color: #d2e3fc;
    font-weight: 100;
  }
}
.FileUploads {
  opacity: 0 !important;
  position: relative;
  z-index: 1;
}
._profileImage {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 0.5rem;
  @include for-phone-only {
    width: 30px;
    height: 30px;
  }
}
.mat-mini-fab {
  box-shadow: none !important;
  margin-top: 1rem;
}

.A,
.K,
.P,
.U,
.Z {
  background-color: khaki;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-phone-only {
    width: 30px;
    height: 30px;
  }
}

.B,
.L,
.Q,
.V {
  background-color: #ef9fc4;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-phone-only {
    width: 30px;
    height: 30px;
  }
}

.C,
.M,
.R,
.W {
  background-color: #8f93f6;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-phone-only {
    width: 30px;
    height: 30px;
  }
}

.D,
.N,
.S,
.X {
  background-color: #fcbba5;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-phone-only {
    width: 30px;
    height: 30px;
  }
}

.E,
.O,
.T,
.Y {
  background-color: #7fdd85;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-phone-only {
    width: 30px;
    height: 30px;
  }
}

.F,
.G,
.H,
.I,
.J {
  background-color: #fad263;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-phone-only {
    width: 30px;
    height: 30px;
  }
}
.filesizes{
  @include for-phone-only(){
    display: none;
  }
}
#btn1 {
  @include for-phone-only {
    display: none;
  }
  @include for-tablet-only {
    display: block;
  }
  @include for-minilaptop-and-up {
    display: block;
  }
}
#btn2 {
  @include for-phone-only {
    display: block;
  }
  @include for-tablet-only {
    display: none;
  }
  @include for-minilaptop-and-up {
    display: none;
  }
}
mat-paginator{
  width: 85%;
}
ion-button.ionBtn { 
  --background: #1d5686 !important;
}
::ng-deep {
  .scroll-y{
    --overflow: hidden !important
  }
  ion-content {
    --background:#ffffff !important;
  }
  ion-item{
    --ion-background-color:#fff !important;
  }
}

