<div class="modalbox">

  <ion-row>
    <ion-col size="10" class="ion-text-start heading">
      <p class="header">Create Workspace</p>
    </ion-col>
    <ion-col size="2">
      <a class="clearicon" mat-icon-button (click)="closepopup()">
        <ion-icon name="close-outline"></ion-icon>
      </a>
    </ion-col>
  </ion-row>

  <div class="modalbody">
    <form [formGroup]="groupForm" class="groupform">
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" class="mt-4 is-d-flex is-justify-content-start">
          <div class="is-profile text-center">
            <div *ngIf="imgsrc == 'WS'">
              <span class="is-profile bg-blue">WS</span>
            </div>
            <div *ngIf="imgsrc != 'WS'">
              <img class="_image" [src]="_d.bypassSecurityTrustUrl(imgsrc)" alt="{{ productName }}"/>
            </div>
            <input type="file" accept=".jpg,.jpeg,.png" #fileInput class="_uploadBtn"
              (change)="fileChange($event)"/>
            <!-- <button mat-icon-button (click)="fileInput.click()" class="_Upload">
              <span class="material-icons-outlined _uploadIcon">image</span>
            </button> -->
          </div>
        </ion-col>
        <ion-col size="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" class="matfield is-d-flex is-justify-content-start">
          <mat-form-field class="example-full-width is-change" appearance="outline">
            <mat-label>Workspace Name</mat-label>
            <input matInput class="inputfield" placeholder="Workspace Name" maxlength="25" formControlName="gname" class="inputfield"
            oninput="this.value = this.value.replace(/[^A-Za-z0-9\-\_ ''.,?/:;{}+!@#$%^&*()=]|^ /g,'')" autocomplete="off">
            <mat-error *ngIf="groupForm.controls['gname'].invalid">Workspace name is required
            </mat-error>
          </mat-form-field>
        </ion-col>
        <ion-col size="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" class="matoption is-d-flex is-justify-content-end">
          <!-- <mat-form-field appearance="outline">
            <mat-select value={{selectedOption}}>
              <mat-option *ngFor="let permission of permission" (click)="OnselectPermission(permission.value)"
                [value]="permission.value">
                {{permission.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="ion-text-center">
          <mat-form-field class="example" appearance="outline">
            <mat-label>Add Contacts or Groups</mat-label>
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let user of selecteduser" (removed)="remove(user)">
                {{user.firstName}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input class="input" id="userName" [matAutocomplete]="auto" [matChipInputFor]="chipList" #username class="inputfield"
                (keyup)="setInputField(username.value)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let option of userDatas" [value]="option">
                <ion-row>
                  <ion-col size="1" class="px-0 is-sharedSection">
                    <div class="is-d-flex is-justify-content-start is-align-items-center is-shared _shared">
                      <span class="is-circle bg-blue-6">{{option.firstName | titlecase | slice:0:1}}</span>
                    </div>
                  </ion-col>
                  <ion-col size="11">
                    <span class="_optionsName">{{option.firstName | titlecase}} {{option.lastName | titlecase}}</span>
                    <span class="_optionsEmail">{{option.mailId}}</span>
                  </ion-col>
                </ion-row>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </ion-col>
      </ion-row>
    </form>

    <ion-row size="12">
      <div class="_list">
        <div *ngFor="let list of selecteduser; index as i" class="_userList">
          <ion-row>
            <ion-col size="1" class="px-0 is-sharedSection">
              <div class="is-d-flex is-justify-content-center is-align-items-center is-shared">
                <span class="is-circle bg-blue-6">{{list.firstName | titlecase | slice:0:1}}</span>
              </div>
            </ion-col>
            <ion-col size="8" class="text-left">
              <span class="_userName">{{list.firstName | titlecase}}</span>
              <span class="_userEmail">{{list.mailId}}</span>
            </ion-col>
            <ion-col size="3">
              <mat-form-field appearance="outline">
                <mat-select value={{selectedOption}}>
                  <mat-option *ngFor="let permission of permission" (click)="OnselectPermission(permission.value, list.id)"
                    [value]="permission.value">
                    {{permission.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <button mat-button type="submit" class="is-btn text-white is-yes mx-1" (click)="createWorkSpace()">Create</button>
        <!-- <button mat-raised-button color="warn" class="mx-1" (click)="closepopup()">Cancel</button> -->
      </ion-col>
    </ion-row>

  </div>

</div>