<div class="modalbox" id="chat1">

  <ion-row>
    <ion-col size="10" class="ion-text-start heading">
      <p class="header">New Chat</p>
    </ion-col>
    <ion-col size="2">
      <a class="clearicon" mat-icon-button (click)="closeAddMembers()">
        <ion-icon name="close-outline"></ion-icon>
      </a>
    </ion-col>
  </ion-row>

  <div class="modalbody">

    <form [formGroup]="groupForm" class="groupform">
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="ion-text-center">
          <mat-form-field class="example" appearance="outline">
            <mat-label>Search People</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection">
              <!-- <mat-chip *ngFor="let participent of participents" (removed)="remove(participent)">
                {{ participent.firstName }}
                <mat-icon class="matChipRemove" matChipRemove>cancel</mat-icon>
              </mat-chip> -->
              <input class="inputField" #username [matChipInputFor]="chipList" [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" (keyup)="setInputField(username.value)"
                />
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let option of groupContacts" [value]="option">
                <ion-row>
                  <ion-col size="1" class="px-0 is-sharedSection">
                    <div class="is-d-flex is-justify-content-start is-align-items-center is-shared _shared">
                      <span class="is-circle bg-blue-6">{{option.firstName | titlecase | slice:0:1}}</span>
                    </div>
                  </ion-col>
                  <ion-col size="9">
                    <span class="_optionsName">{{option.firstName | titlecase}} {{option.lastName | titlecase}}</span>
                    <span class="_optionsEmail">{{option.mailId}}</span>
                  </ion-col>
                  <ion-col *ngIf="option.inContact == true" size="2">
                    <span class="inContact">In Contact</span>
                  </ion-col>
                </ion-row>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </ion-col>
      </ion-row>
    </form>

    <!-- <ion-row>
      <ion-col size="12" class="ion-text-center">
        <button mat-button type="submit" class="is-btn text-white is-yes mx-1" (click)="addGroupMembers()">Add</button>
      </ion-col>
    </ion-row> -->

  </div>

</div>