@import "./../../../appVariable.scss";

.is-topHeader {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.internalShared {
  // height: 80vh;
  // overflow: auto;
  background-color: #ffffff !important;
  width: 100%;
}
.internalShared1 {
  // height: 70vh;
  // overflow: auto;
  background-color: #ffffff !important;
  width: 100%;
}
.is-paddingMain {
  padding: 0px 50px !important;
  position: relative;
  @include for-phone-only {
    padding: 0px 10px !important;
  }
  @include for-tablet-only {
    padding: 0px 10px !important;
  }
}

.is-fileList {
  margin-bottom: 0px;
  padding: 4px 10px;
  border-bottom: 2px solid #dcdddf;
  cursor: pointer;
  &:hover {
    background-color: #fafbfe !important;
  }
  .is-docImage {
    width: 44px;
    height: 44px;
    // background: #f2f5f5;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10px;
    @include for-phone-only() {
      width: 40px;
      height: 40px;
    }
    img {
      border-radius: 15%;
    }
  }
  .is-leftSide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3px;
    .is-selectFile {
      position: absolute;
      left: -2px;
      top: -2px;
      mat-icon {
        font-size: 20px;
      }
    }
  }
  .is-dateTime {
    justify-content: center;
    @include for-phone-only() {
      display: none;
    }
  }
  .is-fileName {
    color: #535f6b;
    font-size: 1rem;
    margin-bottom: 0px;
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 145px;
  }
  .is-label {
    color: #000 !important;
    font-size: 0.75rem;
    font-weight: 500;
    @include for-phone-only() {
      font-size: 0.65rem;
    }
  }
  .is-fileSize {
    font-size: 0.75rem;
    // color: #7fdd85;
    // font-weight: 600;
    @include for-phone-only() {
      font-size: 0.65rem;
    }
  }
  .is-createdAt {
    color: #4f4f4f;
    font-size: 0.8rem;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1;
    height: 44px;
    mat-icon {
      font-size: 20px;
      display: flex;
      justify-self: center;
      align-items: center;
    }
  }
  .is-rightSide {
    position: relative;
    .is-favroiteIcon {
      position: absolute;
      top: -5px;
      right: -5px;
      mat-icon {
        font-size: 20px;
      }
    }
  }
}

.document-card.image-thumb {
  // background: #f2f2f2;
  &:hover {
    .image-thumb .is-docThumb .iq-image-overlay {
      background-color: blue;
    }
  }
  a.is-documentSection {
    color: transparent;
    .is-header {
      position: relative;
      font-size: 0.75rem;
      padding: 0px 0px;
      height: 25px;
      display: flex;
    }
    .is-favroiteIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 2px;
      left: 2px;
    }
  }
  .is-docThumb {
    width: 85%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 5px;
  }
  .is-docThumb1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 5px;
  }
  .image-thumb .is-docThumb {
    position: relative;
    overflow: hidden;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 4px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .img-fluid {
    // width: 55%;
    // height: auto;
    margin: 0px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    @include for-phone-only {
      width: 120px;
      height: 120px;
    }
    @include for-tablet-only {
      width: 120px;
      height: 120px;
    }
  }
  .is-fileName {
    font-weight: 400;
    margin: 5px 0px 0px 0px;
    line-height: 1.5;
    color: #303030;
    font-size: 1rem;
    padding: 4px 0px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 145px;
    @include for-phone-only() {
      font-size: 0.75rem;
    }
  }
  .is-moreMenu {
    position: absolute;
    right: -10px;
    top: -8px;
    z-index: 999;
    color: #abacad;
  }
}

.is-flatAddDocsBtn {
  position: fixed;
  right: 35px;
  bottom: 45px;
  z-index: 999999;
}
.checkboxGrid {
  position: absolute;
  left: 5px;
  top: 28px;
  font-size: 22px;
}
.checkboxGrid-checkbox {
  position: relative;
  left: 2px;
  top: 2px;
  .mat-checkbox-frame {
    border-width: 1px !important;
    border-color: #dcdddf !important;
  }
}
.is-multiSelectAction {
  display: flex;
  margin: 0px 8px;
  border-right: 1px solid #dcdddf;
  align-items: center;
  .is-multiActionBtn {
    margin: 0px 0px;
    color: #000;
    opacity: 0.54;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
      background 200ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    justify-content: center;
    &:hover {
      border: 1px dotted transparent;
      background: rgba(0, 0, 0, 0.12);
    }
  }
}

.is-tite {
  font-size: 1.8rem;
  line-height: 1;
  @include for-phone-only() {
    font-size: 1.5rem;
  }
  @include for-tablet-only() {
    font-size: 1.5rem;
  }
}
.is-folder {
  .is-header {
    position: relative;
    font-size: 0.75rem;
    height: 25px;
    display: flex;
    .is-moreMenu {
      position: absolute;
      right: -10px;
      top: -8px;
      z-index: 0;
      color: #abacad;
    }
    .is-favroiteIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 2px;
      left: 2px;
    }
    .is-shareIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 2px;
      left: 0px;
    }
  }
  .is-fileName {
    font-weight: 400;
    margin: 5px 0px 0px 0px;
    line-height: 1.5;
    color: #303030;
    font-size: 1rem;
    padding: 4px 0px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 145px;
  }
  .icon-small {
    height: 50px;
    width: 50px;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid #eee;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
  }
  .is-folderDetails {
    font-size: 12px;
    line-height: 0;
    color: #4f4f4f;
    padding: 0px 2px;
    height: 100%;
    @include for-phone-only() {
      font-size: 12px;
    }
  }
}

.is-trashIcon {
  width: 100%;
  height: 300px;
  font-size: 241px;
  color: #d2e3fc;
  font-weight: 100;
  @include for-phone-only() {
    width: 100%;
    height: 75px;
    font-size: 75px;
    color: #d2e3fc;
    font-weight: 100;
  }
}

.is-trashIcon1 {
  width: 100%;
  height: 300px;
  font-size: 241px;
  color: #d2e3fc;
  font-weight: 100;
  margin-top: 50px;
  @include for-phone-only() {
    width: 100%;
    height: 75px;
    font-size: 75px;
    color: #d2e3fc;
    font-weight: 100;
  }
}

.is-uploadProgress {
  box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 15%) !important;
  position: fixed;
  bottom: 40px;
  left: 10px;
  width: 325px;
  height: auto;
  background: $bg-white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 999;
  .is-head {
    background-color: $bg-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .is-body {
    background-color: $bg-white;
    max-height: 165px;
    overflow: auto;
    .is-uploadItem {
      height: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      margin: 0px 5px;
      p.is-fileName {
        width: 55%;
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .is-body::-webkit-scrollbar {
    width: 1px;
    border-radius: 25px;
  }
  .is-body::-webkit-scrollbar-thumb {
    background: #8b8c8d;
    border-radius: 3px;
  }
  .is-icon {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .is-cancelicon {
    position: absolute;
    right: 0em;
    top: 0.1em;
  }
  .material-icons-outlined {
    font-size: 18px;
  }
  mat-icon {
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.is-viewDetails {
  position: fixed;
    right: 0px;
    top: 1px;
    width: 300px;
    height: 95vh;
    overflow: auto;
    background-color: #fff;
    z-index: 999;
    padding: 0px 0px;
    box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 15%) !important;
  .is-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    .is-fileName {
      font-size: 20px;
      width: 100%;
      line-height: 1.2;
    }
  }
  .is-body {
    padding: 0px 10px;
    ul {
      li {
        list-style-type: none;
        display: flex;
        align-items: center;
        height: 30px;
        .is-label {
          width: 80px;
          font-size: 13px;
          display: inline-block;
        }
        .is-data {
          width: 100%;
          font-size: 13px;
          color: #acaeaf;
          display: initial;
          height: 22px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

::ng-deep {
  mat-card {
    box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 15%) !important;
  }
  .mat-tab-label {
    min-width: 130px !important;
  }
  .checkboxGrid-checkbox {
    .mat-checkbox-frame {
      border-width: 2px !important;
      border-color: #e0e0e0 !important;
    }
  }
  .introjs-helperLayer {
    box-shadow: rgb(49 74 141) 0px 0px 1px 2px,
      rgb(33 33 33 / 50%) 0px 0px 0px 5000px !important;
  }
  .mat-progress-bar-fill::after {
    background-color: #f46667;
  }
}

._percentageTxt {
  position: absolute;
  left: 9.5em;
  font-size: 12px;
}
.mat-progress-bar {
  margin-right: 0.8rem;
}
._popCancel {
  display: block;
  float: right;
  background: #fff;
  margin-top: 4px;
}
._bodyAlign {
  overflow: auto;
}
._IconAlign {
  position: relative;
  float: left;
}
._IconAlign ._reUpload {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  mat-icon {
    height: 14px;
    width: 20px;
  }
}
._IconAlign:hover ._reUpload {
  display: block;
}
._header {
  font-size: 15px;
}
._expandLess {
  display: none;
}
// ._menu {
//   width: 300px;
//   height: 150px;
//   background-color: #fff;
//   position: fixed;
//   z-index: 999;
//   bottom: 90px;
//   right: 80px;
//   box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
//     0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
//   max-height: calc(100vh - 48px);
//   border-radius: 4px;
//   outline: 0;
//   min-height: 64px;
//   min-width: 112px;
//   max-width: 280px;
// }

//Public sharing
// .is-mainSide {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   // overflow: overlay;
//   background-image: url("./../../../assets/images/login8.svg");
//   background-size: 65% 80%;
//   background-repeat: no-repeat;
//   background-origin: content-box;
//   background-attachment: fixed;
//   box-shadow: 0 16px 40px 0 rgb(0 0 0 / 6%) !important;
//   position: relative;
//   background-position: revert;
//   background-color: #fff !important;
//   @include for-phone-only() {
//     background-image: none;
//   }
// }

.is-mainSide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  // overflow: overlay;
  // background-image: url("./../../../assets/images/login8.svg");
  background-size: 65% 70%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-attachment: fixed;
  box-shadow: 0 16px 40px 0 rgb(0 0 0 / 6%) !important;
  position: relative;
  background-position: left;
  // @extend .pulse;
  // @extend .animated;
  background-color: #fff !important;
  @include for-phone-only() {
    background-image: none;
    overflow: auto;
  }
  @include for-tablet-only() {
    background-size: 55% 70%;
    overflow: auto;
  }
}
.is-mainBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  // background: #1D56865c;
}
.is-topRightSide {
  position: absolute;
  top: -115px;
  left: -125px;
  .is-topBlob {
    width: 300px;
    height: 300px;
    @include for-tablet-only() {
      display: none;
    }
    @include for-phone-only() {
      display: none;
    }
  }
}

.is-topLogo {
  position: absolute;
  top: 0px;
  right: 0px;
}
.is-bottomSide {
  position: absolute;
  bottom: -90px;
  left: 0px;
  height: 280px;
  @include for-tablet-only() {
    display: none;
  }
  @include for-phone-only() {
    display: none;
  }
}
.is-loginContainer {
  // position: absolute;
  // right: 5%;
  width: 425px !important;
  border: 1px solid #eee;
  border-radius: 25px;
  padding: 30px 30px !important;
  top: 30%;
  box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 10%) !important;
  z-index: 9999;
  @include for-tablet-only() {
    width: 320px !important;
    top: 22%;
  }
  @include for-phone-only() {
    position: static;
    right: 0%;
    width: 310px !important;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px 10px !important;
    top: 0%;
  }
}

.login-title {
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #1d5686;
  text-align: left;
}
mat-form-field {
  width: 100%;
  margin-left: 0px;
  font-size: 0.875rem;
}
.is-blue {
  color: #1d5686 !important;
}
button.is-loginBtn {
  color: #fff;
  height: 44px;
  width: 90px;
  font-size: 15px;
  margin-top: 15px;
  &:hover {
    transition: 0.2s ease-in;
  }
}
.forgot-password {
  font-size: 0.875rem;
  color: #1d5686;
  cursor: pointer;
  width: 100%;
  text-align: right;
  display: block;
  font-weight: 600;
}
.footer_text {
  font-size: 1rem;
  margin-top: 15px;
  text-align: center;
  color: #535f6b;
  z-index: 3 !important;
}
.is-signUpText {
  color: #1d5686;
  cursor: pointer;
}
._version {
  color: #1d5686;
  position: fixed;
  bottom: 90px;
  right: 80px;
  font-size: 14px;
}
::ng-deep {
  .mat-form-field {
    width: 100%;
  }
  .mat-form-field-appearance-outline.is-signIn .mat-form-field-wrapper {
    padding-bottom: 1.25em !important;
    @include for-phone-only() {
      padding: 0 1.25em !important;
    }
  }
  .mat-form-field-appearance-outline.is-signIn
    .mat-form-field-subscript-wrapper {
    padding: 0px 0em !important;
  }
  .mat-form-field-appearance-outline.is-signIn .mat-form-field-outline-thick {
    color: #7c7c7c !important;
    background: #fff !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-gap {
    border: 0px solid currentColor !important;
  }
  .mat-form-field-appearance-outline
    .mat-form-field-outline-thick
    .mat-form-field-outline-start,
  .mat-form-field-appearance-outline
    .mat-form-field-outline-thick
    .mat-form-field-outline-end,
  .mat-form-field-appearance-outline
    .mat-form-field-outline-thick
    .mat-form-field-outline-gap {
    border-width: 0px !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    border-bottom: 1px solid #1d5686 !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-start,
  .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border: 0px solid currentColor !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0em 0 0em !important;
  }
}

._sidebar {
  width: 354px;
  height: calc(100vh - 113px);
  background-color: #fff;
  right: 0;
  border-left: 2px solid #e9eaed;
  overflow-x: hidden;
  overflow-y: auto;
}

.is-logo {
  width: 160px;
}
.is-header {
  display: flex;
  align-items: center;
}
.bg-primary {
  --background: $bg-white !important;
  --color: #fff !important;
}
.is-topHeader {
  border-bottom: 2px solid #e9eaed;
}
.mat-toolbar-single-row {
  background: #fff;
  height: 75px;
}
._title {
  color: rgba(0, 0, 0, 0.35) !important;
  font-size: 14px;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 270px;
  display: inline-block;
}
._titleText {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.75) !important;
  width: 270px;
  display: inline-block;
}
::ng-deep {
  .folder-fluid {
    width: 55%;
    height: auto;
    margin: 0px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    @include for-phone-only {
      width: 120px;
      height: 120px;
    }
    @include for-tablet-only {
      width: 120px;
      height: 120px;
    }
  }
  .is-docThumb {
    // width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 5px;
  }
}
.content {
  width: 80vw;
  height: 80vh;
}
mat-input {
  color: #000 !important;
}
#btn1 {
  @include for-phone-only {
    display: none;
  }
  @include for-tablet-only {
    display: block;
  }
  @include for-minilaptop-and-up {
    display: block;
  }
}
#btn2 {
  @include for-phone-only {
    display: block;
  }
  @include for-tablet-only {
    display: none;
  }
  @include for-minilaptop-and-up {
    display: none;
  }
}
mat-paginator {
  position: fixed;
  bottom: 0px;
  width: 50%;
  text-align: center;
  left: 5% !important;
  @include for-phone-only() {
    position: fixed;
    white-space: nowrap;
    width: 100%;
    left: -43px;
  }
  @include for-tablet-only() {
    bottom: 20px;
    width: 91%;
  }
}
.breadcrumbsListnav {
  margin-bottom: 5px;
}border-bottom
body {
  // background: #c7ffd3;
  font-size: 18px;
  font-weight: 700;
  color: #666;

  width: 700px;
  margin: 0 auto;
}

.title-definiton {
  width: 500px;
  margin-bottom: 30px;
}

.breadcrumb1 {
  list-style-type: none;
  padding: 0;
}

li.breadcrumblist {
  a {
    color: #535f6b !important;
  }
  &:hover {
    a {
      z-index: 1;
    }
  }
}

.breadcrumblist {
  display: inline-block;
  position: relative;
  left: 0px;
  margin-right: 8px;
  margin-top: 10px;
  // Last child
  &:last-child {
    color: #fff !important;
    margin-top: 10px;
    a {
      cursor: default;
      z-index: 1;
    }

    &::before,
    &::after {
      background: #adc1d3;
      color: #fff !important;
      // z-index: -1;
    }
  }

  // :Hover
  &:not(:last-child):hover {
    &::before,
    &::after {
      background: rgb(206, 203, 202);
      // z-index: -1;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 50%;
    width: 100%;
    // background: white;
    border-left: 2px solid #e0e0e0;
    border-right: 2px solid #e0e0e0;
    // z-index: -1;
  }

  &::before {
    top: 2px;
    transform: skew(30deg);
    border-top: 2px solid #e0e0e0;
  }

  &::after {
    bottom: -2px;
    transform: skew(-30deg);
    border-bottom: 2px solid #e0e0e0;
  }
}

li {
  display: inline-block;
  position: relative;
  left: 0px;
  margin-right: 8px;
  margin-top: 10px;
  // Last child
  &:last-child {
    color: #fff !important;
    margin-top: 10px;
    a {
      cursor: default;
      z-index: 1;
    }

    &::before,
    &::after {
      background: #adc1d3;
      color: #fff !important;
      // z-index: -1;
    }
  }

  // :Hover
  &:not(:last-child):hover {
    &::before,
    &::after {
      background: rgb(206, 203, 202);
      // z-index: -1;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 50%;
    width: 100%;
    // background: white;
    border-left: 2px solid #e0e0e0;
    border-right: 2px solid #e0e0e0;
    // z-index: -1;
  }

  &::before {
    top: 0px;
    transform: skew(30deg);
    border-top: 2px solid #e0e0e0;
  }

  &::after {
    bottom: -2px;
    transform: skew(-30deg);
    border-bottom: 2px solid #e0e0e0;
  }
}

a {
  display: inline-block;
  position: relative;
  line-height: 1.9;
  padding: 0px 15px;
  color: #666;
  text-decoration: none;
}

li {
  &:first-child {
    background-color: white !important;
    border-left: 2px solid #e0e0e0;
    left: -5px;
    box-sizing: content-box;
    top: 4px;
    &:hover {
      background-color: #fff !important;
      &::before,
      &::after {
        background-color: #fff !important;
      }
    }

    &::before,
    &::after {
      left: 5px;
      background-color: #fff;
    }
  }
}

li a.homeicon:hover::before,
li a.homeicon:hover::after {
  background: #cd481c !important;
}

.homeicon {
  height: 32px !important;
  bottom: -1px;
  padding: 0 5px;
  z-index: 9999999999;
  background: white;
  width: 40px;
  left: 1px;
  span {
    width: 30px;
    height: 25px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2px;
  }
}
.homeicon1 {
  z-index: 0 !important;
}
::ng-deep {
  .breadcrumbtitle {
    font-size: 13px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 12ch;
    margin-bottom: -7px;
  }
  tui-preview {
    background-color: transparent !important;
  }
}
.footer_text {
  z-index: 0 !important;
  font-size: 6px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  position: fixed;
  left: 0;
  bottom: 3px;
  width: 100%;
  color: #1d5686;
  padding-right: 42px !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.footer-text {
  text-align: end;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  color: #1d5686;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include for-phone-only() {
    display: none;
  }
}
.bg-white {
  background: #fff;
}
.h-100 {
  height: 100vh;
}
.FileUploads {
  opacity: 0 !important;
  position: relative;
  z-index: 1;
}
ion-button.ionBtn {
  --background: #1d5686 !important;
}
._menu {
  width: 185px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  z-index: 999;
  top: 60px;
  right: 7rem;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 64px;
  min-width: 112px;
  max-width: 280px;
  @include for-phone-only() {
    width: 250px;
    min-width: 112px;
    max-width: 206px;
    // top: 32.5rem;
    // margin-top: 18rem;
    left: 10px;
  }
  @include for-tablet-only {
    top: 22rem;
  }
}
._menu2 {
  width: 185px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  z-index: 999;
  top: 50px;
  right: 35px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 64px;
  min-width: 112px;
  max-width: 280px;
  @include for-phone-only() {
    width: 250px;
    min-width: 112px;
    max-width: 206px;
    // top: 32.5rem;
    // margin-top: 18rem;
    left: 10px;
  }
  @include for-tablet-only {
    top: 22rem;
  }
}
.fileUploadIcon{
  display: flex;
  margin-top: 12px;
}
.uploadName{
  display: flex;
  margin-left: 33px;
  margin-top: -19px;
}
.fileUploadIcon1{
  display: flex;
  margin-top: 10px;
}
.uploadName1{
  display: flex;
  margin-left: 33px;
  margin-top: -19px;
}
._menu1 {
  width: 185px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  z-index: 999;
  top: 25.5rem;
  right: 30rem;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 64px;
  min-width: 112px;
  max-width: 280px;
  @include for-phone-only() {
    width: 250px;
    min-width: 112px;
    max-width: 206px;
    // top: 32.5rem;
    // margin-top: 18rem;
    left: 10px;
  }
  @include for-tablet-only {
    top: 22rem;
  }
}
.folderTitle{
  font-size: 20px;
  margin: 0 0 8px !important;
  padding-top: 5px !important;
}
.uploadingWindow{
  position: relative;
}
.is-uploadProgress{
  box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 15%) !important;
  position: fixed;
  bottom: 40px;
  width: 325px;
  height:auto;
  background: $bg-white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  .is-head{
      background-color: $bg-blue;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 5px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
  }
  .is-body{
      background-color: $bg-white;
      max-height: 165px;
      overflow: auto;
      .is-uploadItem{
          height: 48px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex: 1;
          margin: 0px 5px;
          p.is-fileName{
              width: 55%;
              font-size: 13px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
          }
      }
  }
  .is-body::-webkit-scrollbar {
      width: 1px;
      border-radius: 25px;
  }
  .is-body::-webkit-scrollbar-thumb {
      background: #8b8c8d;
      border-radius: 3px;
  }
  .is-icon{
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .is-cancelicon{
      position: absolute;
      right: 0em;
      top: 0.1em;
  }
  .material-icons-outlined{
      font-size: 18px;
  }
  mat-icon{
      height: 18px;
      width: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
.is-fileName1 {
  color: #535f6b;
  font-size: 1rem;
  margin-bottom: 0px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  // width: 145px;
}
.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 0px !important;
}
.uploadedList{
  height: 75vh;
  overflow-y: scroll;
}
::ng-deep{
  ion-content {
    --background:#ffffff !important;
  }
  ion-item{
    --ion-background-color:#fff !important;
  }
}
.colDisable{
  opacity: 0.5;
  pointer-events: none;
}
.notDisable{
  opacity: 1;
}