<div class="modalbox">

  <div class="modalheader">
    <a class="clearicon" mat-icon-button (click)="closepopup()">
      <ion-icon name="close-outline"></ion-icon>
    </a>
    <p class="heading mb-0 mt-1">Change Password</p>
  </div>

  <div class="modalbody">

    <ion-row>
      <ion-col size="12" class="ion-text-center">

        <form [formGroup]="changepasswordForm" autocomplete="off">
          <mat-form-field class="example-full-width is-change" appearance="outline">
            <mat-label>Current Password</mat-label>
            <input matInput class="inputfield" [type]="hide ? 'password' : 'text'" placeholder="Enter Current password"
              formControlName="currentpassword">
            <span class="password-icon" mat-icon-button matSuffix (click)="hide = !hide"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon class="pt-1">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <mat-error *ngIf="changepasswordForm.controls['currentpassword'].touched">Current Password is required
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width is-change" appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput class="inputfield" #password [type]="hide1 ? 'password' : 'text'" placeholder="Enter New password"
              formControlName="newPassword">
            <span class="password-icon" mat-icon-button matSuffix (click)="hide1 = !hide1"
              [attr.aria-label]="'Hide1 password'" [attr.aria-pressed]="hide1">
              <mat-icon class="pt-1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <mat-error *ngIf="changepasswordForm.controls['newPassword'].invalid">
              <span *ngIf="changepasswordFormControls.newPassword.errors.required">New Password is required</span>
            </mat-error>
          </mat-form-field>
          <div class="errorDiv" *ngIf="changepasswordFormControls.newPassword.touched">
            <label class="label-style"
              [ngClass]="changepasswordFormControls.newPassword.hasError('pattern')  ? 'text-danger' : 'is-d-none'">
              The minimum password length is 8 characters and must contain atleast 1 lowercase letter,
                1 capital letter, 1 number and 1 special character.
            </label>
          </div>

          <!-- <mat-password-strength [password]="password.value"></mat-password-strength> -->

          <mat-form-field class="example-full-width is-change mt-3" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput class="inputfield" [type]="hide2 ? 'password' : 'text'" placeholder="Enter Confirm password"
              (keyup.enter)="updatePassword()" formControlName="confirmPassword">
            <span class="password-icon" mat-icon-button matSuffix (click)="hide2 = !hide2"
              [attr.aria-label]="'Hide2 password'" [attr.aria-pressed]="hide2">
              <mat-icon class="pt-1">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <mat-error *ngIf="changepasswordForm.get('confirmPassword').hasError('required')">
              Confirm Password is required!
            </mat-error>
            <mat-error *ngIf="changepasswordForm.get('confirmPassword').hasError('mustMatch')">
              Passwords must match!
            </mat-error>
          </mat-form-field>
        </form>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <button mat-raised-button color="primary" id="update" (click)="updatePassword()">Update</button>
        <button mat-raised-button color="primary" id="later" *ngIf="laterbtn" class="mx-2" (click)="later()">Skip for now</button>
      </ion-col>
    </ion-row>
  </div>

</div> 