@mixin for-phone-only {
  @media (min-width: 320px) and (max-width: 767px) { @content; }
}
@mixin for-tablet-only {
  @media (min-width: 768px) and (max-width: 1199px) { @content; }
}
@mixin for-minilaptop-and-up {
  @media (min-width: 1200px) and (max-width: 5000px) { @content; }
}

$text-primary: #7fdd85;
$text-info: #3dc2ff;
$text-warning: #fad35f;
$text-danger: #f25767;
$text-darkgray: #acaeaf;
$text-pink: #ef9fc4;
$text-blue: #1D5686;
$text-orange: #ffba39;
$text-lightgray: #f3f3f3;
$text-black: #000;
$text-white: #fff;

$bg-primary: #7fdd85;
$bg-info: #3dc2ff;
$bg-warning: #fad35f;
$bg-orange: #ffba39;
$bg-danger: #f25767;
$bg-darkgray: #acaeaf;
$bg-pink: #ef9fc4;
$bg-lightgray: #f3f3f3;
$bg-blue: #1D5686;
$bg-black: #000;
$bg-white: #fff;


.modalbox{
  width: 440px;
  height: 390px;
  overflow: hidden;
  // font-family: 'Poppins' !important;
}
.modalheader{
  font-size: 20px;
  font-weight: 500;
  .clearicon{
      ion-icon{
          height: 28px;
          width: 28px;
          color: #636161;
          margin: 10px 10px;
      }
  }
  .heading{
      font-size: 18px;
  }
}
.modalbody{
  padding: 15px 35px 15px 20px  !important;
  height: 350px !important;
  overflow: auto;
  @include for-phone-only(){
      padding: 15px 15px 15px 15px  !important;
  }
}
.msgbody{
  font-size: 1rem;
  text-align: center;
  color: #424242;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-weight: 600;
  line-height: 1.5;
}
.is-okay{
  border-radius: 5px;
  background-color: $bg-blue;
  width: 80px;
  height: 40px;
  color: white;
  outline: none;
  // font-family: 'Poppins' !important;
  // background-color: #0167b6;
  margin: 0px 8px;
}

mat-form-field{
  width: 100%;
  // font-family: 'Poppins' !important;
}

.label-style{
  display: flex;
  align-items: center;
  font-size: 10px;
}
.is-d-none{
  display: none;
}
.password-icon{
  background-color: transparent;
  border: none;
}

::ng-deep{
  .mat-form-field-appearance-outline.is-change .mat-form-field-subscript-wrapper {
      padding: 0px 0em !important;
  }
  mat-password-strength .mat-progress-bar-fill::after {
    background-color: #4caf50;
  }
  .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #1D5686 !important;
  }   
}

._passError{
  font-size: 12px;
  color: #f44336;
  text-align: left;
}
.matInput{
  color: #000 !important;
}
mat-Input{
  color: #000 !important;
}
::ng-deep{
  .inputfield{
    color: #000 !important;
  }
}